<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/Node_JS.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/metas.css">

    <title>Metas A Futuro</title>

</head>

<body>

    <main class="main-content">
        <%- include ('templates/section');%>
            <section class="right-section">
                <div class="right-main-content">
                    <section class="experince sect">
                        <h2 class="right-title">Metas A Futuro</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Metas A Nivel Personal</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Estabilidad Personal</h5>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Tener un estilo de vida saludable.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Desarrollar mi talento musical.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Disfrutar de paz y bienestar mental.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Dominar un nuevo idioma.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Redecorar la casa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Metas A Nivel Familiar</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Estabilidad Familiar</h5>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Visitar más seguido a los abuelos.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Dedicarle más tiempo a mi familia cada día.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Formar una familia.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Educar a mis hijos con buenos valores.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Casarme.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Metas A Nivel Laboral</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Estabilidad Laboral</h5>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Convertirme en un emprendedor y dirigir mi
                                        propio
                                        negocio.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Mejorar mis habilidades y conocimientos
                                        digitales.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Ser gerente en mi compañía.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Volverme un referente en mi sector y crear mi
                                        marca personal.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Ser un profesional innovador y creativo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Metas A Nivel Financiero</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Estabilidad Financiera</h5>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Vivir de mis fuentes de ingresos pasivos.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Duplicar mis ingresos en los próximos 5 años.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Tener control de mi presuspuesto mensual.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Pagar todas mis deudas.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Diversificar mis inversiones.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Metas A Futuro</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Planes A Corto Plazo</h5>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Encontrar seguridad y estabilidad laboral.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Especializarme y conseguir una mejor
                                        oportunidad
                                        en el extranjero.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Comprar mi primer carro y departamento.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Viajar por el mundo recolectando experiencias.
                                    </p>
                                    <p class="para">
                                        <i class="fa-solid fa-check"></i> Ampliar mi línea de negocio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="awards sect">
                        <div class="right-buttons">
                            <a href="/referencias" class="btn-previous">ANTERIOR</a>
                        </div>
                    </section>
                </div>
            </section>
    </main>

</body>

</html>