<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/Node_JS.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <title>Perfil Laboral</title>

</head>

<body>

    <main class="main-content">
        <%- include ('templates/section');%>
            <section class="right-section">
                <div class="right-main-content">
                    <section class="about sect">
                        <h2 class="right-title">Perfil Profesional</h2>
                        <p class="para">
                            Tecnólogo en desarrollo de software estructurado y análisis y desarrollo de sistemas de
                            información con 2 años de experiencia. Me caracterizo por tener un buen desarrollo de código
                            Back-End. Uno de mis proyectos más importantes fue la creación de mi primer sistema de
                            información el cual se basaba en la sistematización de matrículas del Colegio Celestin
                            Freinet.
                            Además, utilizo lenguajes de programación como PHP, C++, JavaScript y Java.
                            <br>
                            <br>
                            Tengo conocimientos básicos en desarrollo sobre frameworks tales como Laravel, React JS,
                            Express
                            JS, Back-End y Front-End sobre el entorno de desarrollo Node JS, manejo de Java nativo en
                            NetBeans.
                            Además de manejo de bases de datos, migraciones, archivos planos y testing de datos en
                            MySQL,
                            HeidiSQL
                            y manejo de bases de datos NoSQL en MongoDB.
                        </p>
                    </section>
                    <%- include ('templates/proyects')%>
                        <section class="education sect">
                            <h2 class="right-title">Educación</h2>
                            <div class="timeline">
                                <div class="left-tl-content">
                                    <h5 class="tl-title">Celestin Freinet</h5>
                                    <p class="para">2010 - 2021</p>
                                </div>
                                <div class="right-tl-content">
                                    <div class="tl-content">
                                        <h5 class="tl-title-2">Bachiller Técnico</h5>
                                        <p class="para">
                                            Estudios realizados en el Colegio de Educación Técnica y Académica Celestin
                                            Freinet,
                                            culminación de mi educación básica primaria y media, graduado como bachiller
                                            técnico.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="left-tl-content">
                                    <h5 class="tl-title">Técnico Desarrollo de Software</h5>
                                    <p class="para">2020 - 2021</p>
                                </div>
                                <div class="right-tl-content">
                                    <div class="tl-content">
                                        <h5 class="tl-title-2">Desarrollo de Software Estructurado</h5>
                                        <p class="para">
                                            Estudios sobre introducción a la programación, manejo básico de C++,
                                            iniciación
                                            a la
                                            programación con el lenguaje PHP y manejo de interfaces con HTML y CSS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="left-tl-content">
                                    <h5 class="tl-title">Tecnólogo ADSI</h5>
                                    <p class="para">2022 - Present</p>
                                </div>
                                <div class="right-tl-content">
                                    <div class="tl-content">
                                        <h5 class="tl-title-2">Análisis y Desarrollo de Sistema de Información</h5>
                                        <p class="para">
                                            Continuidad al nivel técnico con profundización en HTML/CSS, JS, Java
                                            Nativo,
                                            manejo de Back y Front-End avanzado, introducción al manejo de Frameworks,
                                            profundización en bases de datos SQL y NoSQL.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="awards sect">
                            <h2 class="right-title">Otros Títulos</h2>
                            <div class="timeline">
                                <div class="left-tl-content">
                                    <h5 class="tl-title">Curso Oracle</h5>
                                    <p class="para">Marzo 2022</p>
                                </div>
                                <div class="right-tl-content">
                                    <div class="tl-content">
                                        <h5 class="tl-title-2">Oracle Cloud</h5>
                                        <p class="para">
                                            Capacitación en manejo de bases de datos que almacenan y facilitan el manejo
                                            de
                                            grandes cantidades de información relacionada entre sí. En la plataforma de
                                            desarrollo Oracle y Oracle Cloud.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="left-tl-content">
                                    <h5 class="tl-title">Curso Python</h5>
                                    <p class="para">Noviembre 2021</p>
                                </div>
                                <div class="right-tl-content">
                                    <div class="tl-content">
                                        <h5 class="tl-title-2">Python Certificate</h5>
                                        <p class="para">
                                            Capacitación en manejo de funcionalidades avanzadas como el manejo de
                                            modulos de
                                            tratamiento, programacion orientada a objetos y librerias tales como pandas,
                                            numpy,
                                            math, cmath, matplotlib, seaborn, csv, os.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <section class="awards sect">
                                <div class="right-buttons">
                                    <a href="/referencias" class="btn-next">Siguente</a>
                                </div>
                            </section>
                        </section>
                </div>
            </section>
    </main>

</body>

</html>