<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/Node_JS.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/referencias.css">

    <title>Referencias</title>

</head>

<body>

    <main class="main-content">
        <%- include ('templates/section');%>
            <section class="right-section">
                <div class="right-main-content">
                    <section class="experince sect">
                        <h2 class="right-title">Referencias Personales</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Diego Alezander Parra Calderon</h5>
                                <p class="para">Compañero De Estudio</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Desarrollador de software</h5>
                                    <p class="para">
                                        Diego Alezander Parra Calderon, mayor de edad, de nacionalidad Colombiana,
                                        titular de la CC Nº 1031643005 y residente en Bogota D.C, doy fe de que conozco
                                        de
                                        vista,
                                        trato y comunicación a Daniel Fernando Sierra Betancourt de nacionalidad
                                        Colombiana,
                                        y titular de la CC Nº 1025320898.

                                        Asimismo, declaro que durante los años de trato, ha demostrado ser un trabajador
                                        responsable, honesto, amable y, lo más importante, eficiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Luis Sneyder Silva Albarracín</h5>
                                <p class="para">Compañero De Estudio</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Desarrollador de software</h5>
                                    <p class="para">
                                        Luis Sneyder Silva Albarracín, mayor de edad, de nacionalidad Colombiana,
                                        titular de la CC Nº 1025141570 y residente en Bogota D.C, doy fe de que conozco
                                        de
                                        vista,
                                        trato y comunicación a Daniel Fernando Sierra Betancourt de nacionalidad
                                        Colombiana,
                                        y titular de la CC Nº 1025320898.

                                        Asimismo, declaro que durante los años de trato, ha demostrado ser un trabajador
                                        responsable, honesto, amable y, lo más importante, eficiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Gabriel Stiven Morales Rivera</h5>
                                <p class="para">Compañero De Estudio</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Desarrollador de software</h5>
                                    <p class="para">
                                        Gabriel Stiven Morales Rivera, mayor de edad, de nacionalidad Colombiana,
                                        titular de la CC Nº 1007652283 y residente en Bogota D.C, doy fe de que conozco
                                        de
                                        vista,
                                        trato y comunicación a Daniel Fernando Sierra Betancourt de nacionalidad
                                        Colombiana,
                                        y titular de la CC Nº 1025320898.

                                        Asimismo, declaro que durante los años de trato, ha demostrado ser un trabajador
                                        responsable, honesto, amable y, lo más importante, eficiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Edwar Daniel Smith Rojas Colorado</h5>
                                <p class="para">Compañero De Estudio</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Desarrollador de software</h5>
                                    <p class="para">
                                        Edwar Daniel Smith Rojas Colorado, mayor de edad, de nacionalidad Colombiana,
                                        titular de la CC Nº 1025140348 y residente en Bogota D.C, doy fe de que conozco
                                        de
                                        vista,
                                        trato y comunicación a Daniel Fernando Sierra Betancourt de nacionalidad
                                        Colombiana,
                                        y titular de la CC Nº 1025320898.

                                        Asimismo, declaro que durante los años de trato, ha demostrado ser un trabajador
                                        responsable, honesto, amable y, lo más importante, eficiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="education sect">
                        <h2 class="right-title">Referencias Familiares</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Alex Andres Torres Betancourt</h5>
                                <p class="para">Hermano Materno</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Operario De Producción</h5>
                                    <p class="para">
                                        Por medio de la presente, me permito recomendar a mi hermano Daniel Fernando
                                        Sierra
                                        Betancourt, a quien tengo 18 años de conocer, y puedo dar fe de su calidad como
                                        persona,
                                        debido a que se trata de alguien respetuoso, honesto y muy trabajador. Por este
                                        motivo, considero que es una persona confiable para cualquier situación en que
                                        se
                                        vea involucrada.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Slavia Deyanira Betancourt Apresa</h5>
                                <p class="para">Tía Materna</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Ama De Casa</h5>
                                    <p class="para">
                                        Por medio de la presente, me permito recomendar a mi sobrino Daniel Fernando
                                        Sierra
                                        Betancourt, a quien tengo 18 años de conocer, y puedo dar fe de su calidad como
                                        persona,
                                        debido a que se trata de alguien respetuoso, honesto y muy trabajador. Por este
                                        motivo, considero que es una persona confiable para cualquier situación en que
                                        se
                                        vea involucrada.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Isaac Jhael Betancourt</h5>
                                <p class="para">Primo Materno</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Estudiante Muestras Químicas</h5>
                                    <p class="para">
                                        Por medio de la presente, me permito recomendar a mi primo Daniel Fernando
                                        Sierra
                                        Betancourt, a quien tengo 18 años de conocer, y puedo dar fe de su calidad como
                                        persona,
                                        debido a que se trata de alguien respetuoso, honesto y muy trabajador. Por este
                                        motivo, considero que es una persona confiable para cualquier situación en que
                                        se
                                        vea involucrada.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Dayana Andrea Rivera Betancourt</h5>
                                <p class="para">Prima Materna</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Doctora General</h5>
                                    <p class="para">
                                        Por medio de la presente, me permito recomendar a mi primo Daniel Fernando
                                        Sierra
                                        Betancourt, a quien tengo 18 años de conocer, y puedo dar fe de su calidad como
                                        persona,
                                        debido a que se trata de alguien respetuoso, honesto y muy trabajador. Por este
                                        motivo, considero que es una persona confiable para cualquier situación en que
                                        se
                                        vea involucrada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="awards sect">
                        <div class="right-buttons">
                            <a href="/" class="btn-previous">ANTERIOR</a>
                            <a href="/metas" class="btn-next">SIGUIENTE</a>
                        </div>
                    </section>
                </div>
            </section>
    </main>

</body>

</html>