<section class="experince sect">
    <h2 class="right-title">Proyectos Desarrollados</h2>
    <div class="timeline">
        <div class="left-tl-content">
            <h5 class="tl-title">Multimedia Page</h5>
            <p class="para">Marzo 2022</p>
        </div>
        <div class="right-tl-content">
            <div class="tl-content">
                <h5 class="tl-title-2">Pagina Multimedia HTML/CSS</h5>
                <p class="para">
                    Desarrollo de una página web estática para una empresa de desarrollo multimedia
                    la
                    cual buscaba incrementar sus visitas y digitalizar su trabajo en la web, con
                    integracion de animaciones e diseños llamativos para los usuarios empleando
                    HTML/CSS.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="left-tl-content">
            <h5 class="tl-title">Funciones JavaScript</h5>
            <p class="para">Septiembre 2022</p>
        </div>
        <div class="right-tl-content">
            <div class="tl-content">
                <h5 class="tl-title-2">Interfaz Con Funciones JS</h5>
                <p class="para">
                    Desarrollo de interfaces graficas con funciones empleando JS y SweetAlert2 con
                    las
                    cuales se buscaba implementar dinamismo en sitios web estáticos y validar el
                    buen
                    manejo del DOM.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="left-tl-content">
            <h5 class="tl-title">Proyecto Tienda PHP</h5>
            <p class="para">Junio 2022</p>
        </div>
        <div class="right-tl-content">
            <div class="tl-content">
                <h5 class="tl-title-2">Proyecto Back-End Laravel PHP</h5>
                <p class="para">
                    Desarrollo de un carrito de compras en Back-End bajo el framework Laravel y el
                    lenguaje de programación PHP con el cual se buscaba sistematizar los procesos de
                    una
                    tienda real.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="left-tl-content">
            <h5 class="tl-title">Hotelia Page</h5>
            <p class="para">Septiembre 2022</p>
        </div>
        <div class="right-tl-content">
            <div class="tl-content">
                <h5 class="tl-title-2">Proyecto Front-End React JS</h5>
                <p class="para">
                    Desarrollar el Front-End de la pagina web Hotelia a base de los mockups o
                    modelos
                    preliminares compartidos implementados en HTML/CSS.
                </p>
            </div>
        </div>
    </div>
</section>